body {
  font-family: Poppins;
  padding: 0;
  margin: 0;
}
.header-section {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.half-width {
  width: 50%;
  padding: 0 5%;
}
.right-content img {
  width: 100%;
}
.flexiable-container {
  display: flex;
}
.left-content h1 {
  font-size: 3em;
}
.left-content span {
  color: #ffa500;
}
.left-content a {
  background-image: linear-gradient(orange, tomato);
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 5px 30px;
  border-radius: 5px;
}

/* Dream Section CSS */
.dream-section {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.reverse {
  flex-direction: row-reverse;
}

/* Experiance Section CSS */
.experiance-section {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: center left;
}
#senior {
  border-left: 4px solid;
  border-image: linear-gradient(yellow, black);
  border-image-slice: 1;
}
#junior {
  border-left: 4px solid;
  border-image: linear-gradient(red, blue);
  border-image-slice: 1;
}
.item {
  margin: 0 5%;
  box-shadow: 15px 15px 30px lightgray;
  padding: 2%;
  background-color: white;
}
.item h4 {
  color: #ffa500;
}

/* Footer Section CSS */
.footer-section {
  padding: 50px 0 30px 0;
}
.footer-section p {
  text-align: center;
}
